*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    font-family: 'Lato','Arial';
    font-weight: 300;
    text-rendering: optimizeLegibility;
   
    
}

body{
    background-color: #fafafa;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("HeaderCover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

header .welcome-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 50px;
}

.brand-title{
    margin-left: 180px;
    font-size: 20px;
    font-weight: 700px;
}

.navbar-link ul{
    display: flex;
}


.navbar-link ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    overflow-x: hidden;
    border-bottom: 2px solid transparent;
    transition: border 0.8s;
}

.navbar-link li a:hover{
    border-bottom: 2px solid #fff;
}

.toggle-btn{
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 27px;
}

.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


header .welcome-box h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 1140px;

}

header .welcome-box p{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 300;
}

header .welcome-box button{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

header .welcome-box button:hover{
        background-color: #dbdbdb;

}

header .welcome-box button:focus{
    outline: none;
}



/*section 2nd info */


.row{
    max-width: 1140px;
    margin: 0 auto;
    
}

section{
    padding: 80px 0px;
}

.info-two .title-sec-info{
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
}

.info-box-two .ic{
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
    color: #2980b9;
}

.info-box-two h3{
    margin-bottom: 10px;
        font-size: 25px;

}





/*media queuries*/


@media only screen and (max-width:1210px)
{

    header .welcome-box{
    width: 88%;
    padding-left: 10%;
    margin-right: 20px;
    }
    
    
    header .welcome-box h1{
        
        width: 100%;
    }
    
    .row{
    width: 95%;
        margin: 0 auto;
    
}

section{
    padding: 80px 0px;
}



    
    
    
    
}

@media only screen and (max-width:800px)
{
    /* Header */
    header{
        height: 80vh;
    }

    /* Responsive Navbar */
    .brand-title{
        margin-left: -400px;
    }

    .navbar{
        flex-direction: column;
        align-self: flex-end;
        margin-right: 0px;
    }

    .navbar-link{
        display: none;
        align-items: flex-end;
        width: 100%;
        background-color: rgb(165, 167, 163,0.5);
    }

    .navbar-link ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-link li{
        text-align: center;
    }

    .navbar-link li a{
        padding: 0.5rem 1rem;
    }
    
    .navbar-link.active{
        display: flex;
    }

    .toggle-btn{
        display: flex;
        margin-top: 10px;
        height: 20px;
        
    }

    header .welcome-box{
    width:80%;    
    margin: 60px auto;
    }
    
    
    header .welcome-box h1{
        font-size: 40px;
        width: 100%;
    }
    
    header .welcome-box p{
        font-size: 18px;
        width: 100%;
    }
    
    header .welcome-box button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
    
    
    
    

    
     /*    section 2 info*/
        .row{
            display: flex;
            flex-direction: column;

}
    
    .col:first-child{
        margin-left: auto;
    }
    .col{
        width: 100%;
    }
    
    
    .info-box-two {
            margin: 0 auto;
    margin-bottom: 40px;
        width: 80%;
}


.info-two .title-sec-info{
    
    font-size: 25px;
}


   
    
    
}

@media only screen and (max-width:750px){
    .brand-title{
        margin-left: -350px;
    }

    header .welcome-box{
        margin-top: 30px;
    }

    header .welcome-box h1{
        font-size: 35px;
    }

    header .welcome-box button{
        padding: 8px 18px;
        font-size: 14px;
    }
}


@media only screen and (max-width:680px)
{
    .brand-title{
        margin-left: -300px;
    }

    header .welcome-box{
        margin-top: 60px;
    }

    .toggle-btn{
        height: 18px;
    }
    
    header .welcome-box h1{
        font-size: 30px;
        width: 90%;
    }
    
    header .welcome-box p{
        font-size: 17px;
        width: 80%;
    }
    
    
    
  

    
    
}

@media only screen and (max-width:575px)
{
    .brand-title{
        margin-left: -250px;
    }

    header .welcome-box{
        margin-top: 60px;
    }

    .toggle-btn{
        height: 20px;
    }

    
    
    header .welcome-box h1{
        font-size: 28px;

        width: 90%;
    }
    
    header .welcome-box p{
        font-size: 15px;
        width: 80%;
    }
    
    
}

@media only screen and (max-width:450px)
{
    .brand-title{
        margin-left: -150px;
    }

    header .welcome-box{
        margin-top: 90px;
    }

    .toggle-btn{
        height: 20px;
    }

    header .welcome-box h1{
        font-size: 25px;
        width: 90%;
    }
    
    header .welcome-box p{
        font-size: 15px;
        width: 80%;
    }
    
    
}

